

.intro-subtitle{
    background: linear-gradient(135deg, rgba(184,134,231,0.8) 46%, rgba(136,134,231,0.9) 100%);
    
    padding: 16px 32px;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    
}