.project-device-iphone-8{
  height: 436px;
  width: 210px;
  margin-left: 48px;
}

.project-device-macbook {
  height: 420px;
  width: 666px;
}

@media (max-width: 1500px){
  .project-device-macbook{
    height: 302px;
    width: 518px;
  }
}

@media (max-width: 1220px) {
    .project-device-macbook {
      height: 259px;
      width: 470px;
    }
}

@media (max-width: 770px) {
  .project-device-macbook {
    height: 216px;
    width: 370px;
  }
}

@media (max-width: 400px) {
  .project-device-macbook {
    height: 172px;
    width: 274px;
  }
}

@media(max-width: 768px){
  .project-device{
    margin-left: 0px;
    margin-top: 40px;
  }
}




.project-card-info{
  max-height: 434px;
  margin-bottom: 50px;
  // max-width: 600px;
  h1{
    color: black;
  }
}

.tech-icons{
  margin-top: 24px;
  i{
    font-size: 32px;
    margin-right: 16px;
  }
}
