.project-device-iphone{
  height: 434px;
  width: 214px;
  margin-left: 48px;
}

@media(max-width: 768px){
  .project-device{
    margin-left: 0px;
    margin-top: 40px;
  }
}

.project-card-info{
  height: 434px;
  max-width: 600px;
  h1{
    color: black;
  }
}

.tech-icons{
  margin-top: 24px;
  i{
    font-size: 32px;
    margin-right: 16px;
  }
}
