@import "~bootstrap/scss/bootstrap";
@import "css/navbar.scss";
.background-gradient{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: rgb(134,231,184);
    background: linear-gradient(35deg, rgba(134,231,184,1) 13%, rgba(0,148,198,1) 38%, rgba(245,100,118,1) 70%, rgba(228,63,111,1) 100%);
    position: relative;
    background-size: 450%;
    animation: background-gradient-anim 140s infinite;
}

@keyframes background-gradient-anim{
    0% {
        background-position: left;
    }
    50%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}

.foreground{
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(82deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
    width:100%;
    height: 100vh;
}

.content-container{
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
}

