@import "~bootstrap/scss/bootstrap";
@import "css/navbar.scss";
@import "css/introCard.scss";
@import "css/containers.scss";
@import "css/aboutCard.scss";
@import 'assets/devices.css';
@import "css/projectCard.scss";
@import "css/buttons.scss";
@import "css/socials.scss";

.App{
    transform: translateZ(0);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // width: 100vw;
    background: rgb(134,231,184);
    background: linear-gradient(35deg, rgba(134,231,184,1) 13%, rgba(0,148,198,1) 45%, rgba(250,172,182,1) 70%, rgba(184,134,231,1) 100%);
    background-size: 450%;
    // animation: background-gradient-anim 140s infinite alternate;
    position: relative;
    // overflow: hidden;
}

@keyframes background-gradient-anim{
    0% {
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

@keyframes background-gradient-anim {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.foreground{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(82deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
    width:100%;
    min-height: 100vh;
}

.content-wrapper{
    position: relative;
    width: 100%;
    z-index: 1;
    // overflow: hidden;
}

